    <div class="footer-spanner">
      <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-9928807883494948"
           data-ad-slot="4362017599"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <div class="footer">
      <div class="wrapper">
        <ul>
          <li><a href="{path=about}">About</a></li>
          <li><a href="{path=staff}">Staff</a></li>
          <li><a href="{path=jobs}">Jobs</a></li>
          <li><a href="{path=review-policy}">Review Policy/Ethics</a></li>
          {!--<li><a href="{path=contact}">Contact</a></li>--}
          <li><a href="{path=ad-policy}">Ad Policy</a></li>
          {!--<li><a href="{path=tips}">Tips</a></li>--}
        </ul>
        <ul style="float: right;">
          <li><a href="{path=rss/articles}"><i class="icon-rss"></i> Articles RSS</a></li>
          <li><a href="{path=rss/reviews}"><i class="icon-rss"></i> Reviews RSS</a></li>
          <li><a href="http://facebook.com/PlayerTheory" target="new"><i class="icon-facebook-sign"></i> Facebook</a></li>
          <li><a href="http://twitter.com/PlayerTheory" target="new"><i class="icon-twitter"></i> Twitter</a></li>
        </ul>
        <p class="legal">PlayerTheory.com &copy; 2013 Jeff Bond. All rights reserved. Use of this site constitutes acceptance of our <a href="{path=terms-of-service}">Terms of Service</a> and <a href="{path=privacy-policy}">Privacy Policy</a>.<br>The material on this site may not be reproduced, distributed, transmitted, cached, or otherwise used, except with prior written permission from the author or our Editor in Chief.</p>
      </div><!--wrapper-->
    </div><!--footer-->
     {if segment_1 == "article|review"}<script type="text/javascript">
      var disqus_shortname = 'digstraightdown';
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>{/if}
  </body>

</html>